@import "tailwindcss";
@theme {
  --color-main: #423aaa;
  --color-hover: #5049ac;
}
* {
  box-sizing: border-box;
}
h1 {
  @apply text-4xl font-normal max-sm:text-2xl;
}
h2 {
  @apply text-2xl font-normal;
}

body {
  @apply bg-gray-50;
}
